
.ws-page {
  width: 100%;
}

table {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group + .form-group {
  margin-top: 15px;
}

form label {
  font-weight: 600;
  font-size: 1.2em;
}

form input,
form textarea, {
  width: 100%;
}

form button {
  margin-top: 20px;
}
